body {
    margin: 20px;
    font-family: Cursive, Verdana, Geneva, Tahoma, sans-serif;
}

.img-agusha {
    width: 150px;
    transition: scale 0.3s ease-in-out;
}

.img-agusha:hover {
    scale: 1.05;
}

.card {
    width: 450px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    text-align: center;
    background-color: #f2e9e4;
    border-bottom: 6px solid #9a8c98;
    color: #22223b;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.bouncy-effect {
    animation: bounce 1s ease-in-out infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
}}

#smalltext {
    position: absolute;
    font-size: 0.50rem;
}

#demo {
    font-family: cursive;
    color: #333;
}

.cursor {
    display: inline-block;
    width: 3px;
    background-color: #333;
    margin-left: 5px;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}